@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)) center/cover no-repeat;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.score__container {
  color: #FDFFFF;
  max-width: 700px;
  height: 150px;
  margin: 50px auto;
  // padding: 30px;
  border: 2px solid #5A6A84;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    line-height: 28px;
    margin-left: 30px;
    font-size: 30px;
    text-transform: uppercase;
  }

  .score {
    background-color: #fafafa;
    width: 150px;
    height: 115px;
    padding: 20px 50px;
    border-radius: 8px;
    margin-right: 25px;
    span {
      color: #3a41a9;
      
    }
    p {
      font-size: 44px;
      color: #59556e;
    }
  }
}

.rules {
  border: 2px solid #5A6A84;
  border-radius: 8px;
  padding: 15px 40px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.pickOne {
  display: flex;
  max-width: 475px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  background: url("images/bg-triangle.svg")  center no-repeat;

  .circle {
    width: 170px;
    height: 170px;
    background-color: #E9E9E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // border: 20px solid white;      
  }

  .paper {
    border: 20px solid #506CF4;
  }

  .rock {
    border: 20px solid #DF405E;
  }

  .scissors {
    border: 20px solid #EBA218;
  }
}